@import "./src/assets/styles/variables"
@import "./src/assets/styles/color-schemes/schemes"

//LAYOUT
.l-new-communication
  width: 100%
  margin-top: 1.5em


//MODULES
.od-visa-columns /* Set specific column widths */

  & > div:nth-child(1)
    width: 5%
    min-width: 50px

  & > div:nth-child(2)
    width: 10%
    @media (max-width: $lg)
      width: 15%
    @media (max-width: $md)
      width: 20%

  & > div:nth-child(3)
    width: 15%
    @media (max-width: $lg)
      width: 20%
    @media (max-width: $md)
      display: none

  & > div:nth-child(4)
    width: 5%
    min-width: 50px
    @media (max-width: $md)
      display: none

  & > div:nth-child(5)
    width: 55%
    @media (max-width: $lg)
      width: 45%
    @media (max-width: $md)
      width: 55%

  & > div:nth-child(6)
    width: 10%
    @media (max-width: $md)
      width: 60%
      min-width: 70px

  .is-msg
    position: relative
    bottom: -3px
    cursor: default
    
    &.is-send
      color: transparentize($color-info, 0.5)
      &:hover
        color: transparentize($color-info, 0.5)
    
    &.is-recived
      color: $color-info
      &:hover
        color: $color-info

.new-communication
  animation: fade-in 300ms linear
  border: 1px solid darken($grey-light, 5%)
  border-radius: 3px
  padding: 1.5em
  box-sizing: border-box