<div class="navigation-container">
  <nav class="l-navigation">
    <div class="l-navigation-box navigation-box">
      <app-navigation></app-navigation>
      <!-- <div class="l-btncontainer l-navigation-buttons">

      </div> -->
    </div>
  </nav>
  <main class="l-main mt-1">
    <section class="mb-1">
      <div class="alert is-valid">
          Los contactos han sido importados con éxito.
      </div>
      <!-- <div class="alert is-error">
          Ha habido un error al importar los usuarios. Por favor, revise el CSV.
      </div> -->
    </section>
    <section>
      <div class="form-group">
        <label class="exp-label">Cargar CSV</label>
        <div class="custom-file ">
          <input type="file" class="custom-file-input" lang="es">
          <span class="custom-file-label" for="customFileLang">Seleccionar Archivo</span>
        </div>
      </div>
    </section>
  </main>
</div>